body{
	font-family: Consolas;
}

.navbar-default{
	margin: 0;
	border-radius: 0;
}

.full-size{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.head-img{
	padding: 25% 0;
	background-image: url("./img/whitemacbook.jpg");
	background-size: cover;
}