.navbar-default{
	background-color: #2C3E50;
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav > li > a{
	color: white;
}

.jumbotron{
	background-color: #ECF0F1;
	color: #2C3E50;
}

body{
	padding-top: 80px;
}

h1{
	font-weight: 600;
}