body{
	font-family: Consolas;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.navbar-default{
	margin: 0;
	border-radius: 0;
	border-bottom: 0;
	border-top: 5px solid #ed3200;
	background-color: #000;
	font-weight: bold;
}

.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
	font-size: 16px;
}

#hero{
	background-image: url("./img/whiteheader.jpg");
	background-size: cover;
	position: relative;
	background-position: left;
	height: 100vh;
	padding: 15% 0;
}

.header{
	position: absolute;
	top: 50%;
	text-align: justify;
	width: 30%;
	font-size: 60px;
	transform: translate(0,-50%);
	margin-left: 15%;
	float: left;
}

.highlight{
	color: #ed3200;
}

.my-pic{
	width: 400px;
	height: 400px;
}

/*.container-fluid{
	margin-left: 5px;
	margin-right: 5px;
}*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #ed3200;
	font-weight: bold;
	color: #fff;
}

/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active-hover > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #ed3200;
	font-weight: bold;
	color: #fff;
}*/

.navbar-default .navbar-nav > li > a:hover, .navbar-defaul .navbar-nav > li > a:focus{
	background-color: #ed3200;
	font-weight: bold;
	color: #fff;	
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #000;
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

.about{
	padding: 60px 0;
	font-size: 16px;
	text-align: justify;
}

.margins{
	margin-bottom: 20px;
}

.title{
	border-bottom: 3px solid #ed3200;
	display: inline-block;
	font-size: 20px;
}

.tech-logo{
	width: 230px;
	height: 230px;
	margin-bottom: 60px;
}