body{
	font-family: Roboto;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}


.navbar-default{
	margin: 0;
	border-radius: 0;
	border-bottom: 0;
	border-top: 5px solid #ed3200;
	background-color: rgba(0, 0, 0, 0.9);
	font-weight: bold;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #fff;
	font-size: 20px;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
	font-size: 18px;
}

#hero{
	background-image: url("../img/Beta4.jpg");
	background-size: cover;
	position: relative;
	background-position: left;
	height: 100vh;
	padding: 15% 0;
}

.header{
	position: absolute;
	top: 50%;
	width: 30%;
	font-size: 60px;
	transform: translate(0,-50%);
	margin-left: 15%;
	float: left;
	animation-delay: 0.3s;
}

.parallax{
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
	color: #fff;
	text-shadow: 2px 2px 2px black;
}

.highlight{
	color: red;
	font-weight: bold;
}

.my-pic{
	width: 400px;
	height: 400px;
}

/*.container-fluid{
	margin-left: 5px;
	margin-right: 5px;
}*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #ed3200;
	font-weight: bold;
	color: #fff;
}

/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active-hover > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #ed3200;
	font-weight: bold;
	color: #fff;
}*/

.navbar-default .navbar-nav > li > a:hover, .navbar-defaul .navbar-nav > li > a:focus{
	background-color: #ed3200;
	font-weight: bold;
	color: #fff;
	transition: 0.4s;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #000;
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

.about{
	margin: 60px 0;
	font-size: 16px;
	text-align: justify;
}

.margins{
	margin-bottom: 40px;
}

.title{
	border-bottom: 3px solid #ed3200;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

.tech{
	text-align: center;
}

.tech-logo{
	width: 230px;
	height: 230px;
	margin-bottom: 20px;
}

.tech-name{
	font-size: 18px;
	font-weight: bold;
	color: #ed3200;
}

.content{
	font-size: 16px;
}



.footer{
	padding: 20px 0;
	background-color: #000;
}

.contact{
	color: #fff;
}

.portfolio-container{
	width: 500px;
	height: 375px;
	padding: 0;
	overflow: hidden;
}

.portfolio-img{
	width: 100%;
	max-height: 375px;
/*	border-radius: 10px;*/
}

.height-img{
	width: 500px;
	height: 100%;
}

.fa{
	font-size: 23px;
	color: #fff;
}

.icon-space{
	margin: 0 5px;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

/*TOOLTIP*/

li .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

li .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

li:hover .tooltiptext {
    visibility: visible;
}

li .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

li:hover .tooltiptext {
    visibility: visible;
}

/* Portfolio Hover Effect */

.hovereffect {
width:500px;
height:375px;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:60px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
top: 10%;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:90px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

a.info > i{
	font-size: 30px;
}